body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.navbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar .navbar-nav .nav-item .active {
  font-weight: bold;
}

.btn-login {
  background-color: #6FADFF;
  color: #fff;
  font-weight: 600;
  border-radius: none;
  border: none;
  margin-top: -8px !important;
  margin-bottom: -8px !important;
  min-height: 64px;
}

.btn-login:hover {
  background-color: #9ec8ff;
  color: #fff;
}

header {
  padding: 230px 0 38px;
  margin-top: -64px;
  background-image: url("../images/header-img.png");
  background-size: cover;
  min-height: 100vh;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #fff;
  font-size: 52px;
}

header p {
  font-family: 'poppins', sans-serif;
  color: #fff;
}

header .toggle-turun img {
  margin-top: 120px;
}

header .btn-pilih-tujuan {
  background-color: #EEB34B;
  color: #fff;
  font-weight: 600;
  border: none;
}

header .btn-pilih-tujuan:hover {
  background-color: #F4B860;
  color: #fff;
}

.content-1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content-1 .keuntungan-anda h2 {
  font-family: 'Playfair display', serif;
  font-weight: bold;
  font-size: 30px;
}

.content-1 .keuntungan-anda p {
  color: #5a5a5a;
}

.content-1 .tiga-untung h3 {
  font-family: 'Playfair display', serif;
  font-weight: bold;
  font-size: 22px;
}

.content-1 .tiga-untung p {
  font-size: 14px;
  color: #5a5a5a;
}

.btn-lihat-semua {
  background-color: #EEB34B;
  color: #fff;
  font-weight: 600;
  border: none;
}

.btn-lihat-semua:hover {
  background-color: #F4B860;
  color: #fff;
}

.content-2 h2 {
  font-family: 'Playfair display', serif;
  font-weight: bold;
  font-size: 30px;
}

.content-2 .paket-travel {
  color: #5a5a5a;
}

.content-2 .tujuan-kota {
  margin-top: 10px;
}

.content-2 .tujuan-kota .card-foto {
  min-height: 380px;
  background-color: #EEB34B;
  padding: 30px 30px 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  border-radius: 10px;
}

.content-2 .tujuan-kota .tujuan-kota .provinsi {
  font-size: 18px;
  color: #fff;
}

.content-2 .tujuan-kota .tujuan-kota .kota {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.content-2 .tujuan-kota .tujuan-button .btn-lihat-details {
  margin-top: 280px;
  background-color: #EEB34B;
  color: #fff;
  font-weight: 600;
}

.content-2 .tujuan-kota .tujuan-button .btn-lihat-details:hover {
  background-color: #F4B860;
  color: #fff;
}

.content-3-testimonial {
  margin-top: 40px;
  padding: 10px 0 0 0;
  min-height: 600px;
  background-color: #EEB34B;
}

.content-3-testimonial .headline-testimonial h2 {
  font-family: 'Playfair display', serif;
  font-weight: bold;
  font-size: 30px;
}

.content-3-testimonial .card {
  padding: 40px 20px 0px;
  margin-top: 50px;
  border-radius: 12px;
}

.content-3-testimonial .komentar .card .deskripsi h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
}

footer .list-unstyled li {
  margin-bottom: 8px;
}

footer .list-unstyled li a {
  text-decoration: none;
  color: #5a5a5a;
}

footer .list-unstyled li a:hover {
  text-decoration: underline;
  color: #5a5a5a;
}

footer p {
  font-size: 14px;
  padding-right: 80px;
  color: #5a5a5a;
}

footer a {
  text-decoration: none;
  color: #5a5a5a;
}

footer a:hover {
  text-decoration: underline;
  color: #5a5a5a;
}

footer .col-sm-6 .nomorHP {
  font-size: 16px;
  margin-bottom: 2px;
}

.section-details-header {
  background-color: #F6F6F6;
  padding-bottom: 80px;
}

.section-details-header .col .breadcrumb {
  margin-bottom: 30px;
}

.section-details-header .col .breadcrumb .breadcrumb-item.active {
  font-weight: bold;
}

.card-details {
  padding: 40px;
}

.section-details-header .row .col-lg-8 .card-details h1 {
  font-family: 'playfair-display',serif;
  font-weight: bold;
  font-size: 30px;
}

.section-details-header .row .col-lg-8 .card-details p {
  margin-top: -5px;
  margin-bottom: 40px;
}

.section-details-header .row .col-lg-8 .card-details .catatan {
  margin-top: 80px;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-container .xactive {
  border: 4px solid #F4B84D;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-header .row .col-md-6 .latar .lokasi-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.section-details-header .row .col-md-6 .latar .lokasi-item h2 {
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.section-details-header .row .col-md-6 .latar .deskripsi-detail {
  float: left;
}

.row .col-lg-4 .card-details h2 {
  font-family: 'Playfair-display', serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.row .col-lg-4 .card-details th {
  font-size: 15px;
  color: #474747;
}

.row .col-lg-4 .card-details td {
  font-size: 14px;
  color: #5e5e5e;
}

.gabung-container .btn-gabung-sekarang {
  background-color: #EEB34B;
  color: #fff;
  font-weight: 600;
}

.gabung-container .btn-gabung-sekarang:hover {
  background-color: #F4B860;
  color: #fff;
}

.btn-edit {
  background-color: #EEB34B;
}

.btn-hapus {
  background-color: #e23737;
}

.bank p {
  margin-top: -15px;
  color: #5e5e5e;
  font-size: 14px;
}

.jenis-bank {
  font-size: 15px;
}

.gabung-container .btn-cancel-sekarang {
  background-color: #f78282;
  color: #fff;
  font-weight: 600;
}

.gabung-container .btn-cancel-sekarang:hover {
  background-color: #fa5151;
  color: #fff;
}

main .checkout-berhasil {
  text-align: center;
}

body main .checkout-berhasil .gambar-checkout {
  min-height: 1px;
}
/*# sourceMappingURL=main.css.map */